# Bonus: Temperature Analysis I

In [37]:
import pandas as pd
from datetime import datetime as dt

In [38]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [39]:
# Convert the date column format from string to datetime
df['date'] = pd.to_datetime(df.date)

In [40]:
# Set the date column as the DataFrame index
df = df.set_index('date')
df

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73
...                 ...   ...   ...
2017-08-19  USC00516128  0.09    71
2017-08-20  USC00516128   NaN    78
2017-08-21  USC00516128  0.56    76
2017-08-22  USC00516128  0.50    76
2017-08-23  USC00516128  0.45    76

[19550 rows x 3 columns]

In [41]:
# Drop the date column
df.reset_index(drop=True, inplace=True)
df

           station  prcp  tobs
0      USC00519397  0.08    65
1      USC00519397  0.00    63
2      USC00519397  0.00    74
3      USC00519397  0.00    76
4      USC00519397   NaN    73
...            ...   ...   ...
19545  USC00516128  0.09    71
19546  USC00516128   NaN    78
19547  USC00516128  0.56    76
19548  USC00516128  0.50    76
19549  USC00516128  0.45    76

[19550 rows x 3 columns]

### Compare June and December data across all years

In [42]:
from scipy import stats

In [43]:
# Filter data for desired months
df_tobs = pd.read_csv('Resources/hawaii_measurements.csv')
df_tobs['date'] = pd.to_datetime(df_tobs.date)

In [44]:
# Identify the average temperature for June
df_tobs_june = df_tobs[df_tobs['date'].dt.month == 6]
avg_june_temp = df_tobs_june['tobs'].mean()
print("Average Temperature for June: " + str(avg_june_temp) )

Average Temperature for June: 74.94411764705882

In [45]:
# Identify the average temperature for December
df_tobs_dec = df_tobs[df_tobs['date'].dt.month == 12]
avg_dec_temp = df_tobs_dec['tobs'].mean()
print("Average Temperature for Dec: " + str(avg_dec_temp) )

Average Temperature for Dec: 71.04152933421226

In [46]:
# Create collections of temperature data
df_temp = pd.DataFrame({'June':df_tobs_june['prcp'],
                        'Dec':df_tobs_dec['prcp']})
df_temp

       June  Dec
133    0.00  NaN
134    0.01  NaN
135    0.00  NaN
136    0.00  NaN
137    0.00  NaN
...     ...  ...
19492  0.02  NaN
19493  0.10  NaN
19494  0.02  NaN
19495  0.04  NaN
19496  0.20  NaN

[3217 rows x 2 columns]

In [47]:
# Run paired t-test
res = stats.ttest_ind(df_tobs_june.dropna()['prcp'], df_tobs_dec.dropna()['prcp'])
display(res)

Ttest_indResult(statistic=-4.929160434553711, pvalue=8.710548303420157e-07)

### Analysis

Use the t-test to determine whether the difference in the means, if any, is statistically significant. Will you use a paired t-test, or an unpaired t-test? Why?

Paired sample t-test compares means from the same group at different times.

A p-value of less than 0.05 is statistically significant and there is a difference in temperature between June and Dec. December has an average temperature of less than 5 degrees as compared to June. However, compared to other cities where the average temperature varies to a larger degree between June and December, we can say that Hawaai has a milder weathr all year.